<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">

body {
	background-color: #EEE;
	background-size: cover;
	font-family: Arial;
}

a{
	text-decoration: none;
	color: red;
}
h1, h2, h3{ 
	margin: 0;
 }
 h2{
 	font-size: 40;
 }

#container {
	background-color: white;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	background-color: #fff5e7;
	font-color: #3d496f;
	text-align: center;
	padding: 35px;
	font-size: 40;
	font-family: 'Oswald', sans-serif;
}
#content{
	padding: 10px;
}
#nav{
	width: 180px;
	float: left;
	font-size: 26;
	padding: 20;
}
#nav ul{ 
	list-style-type: none;
	padding: 0px;
	font-size: 24;
	font-weight: bold;
	font-color: red;
 }
#nav .selected{
	font-weight: bold;
	font-size: 24;
}
#main{
	width: 900px;
	float: right;
	padding: 20;
	font-size: 15;
}
#footer{
	clear: both;
	padding: 10px;
	background-color: #3d496f;
	font-color: #fff5e7;
	text-align: right;
	font-size: 12;
}
